body
{
	background-color:#29293D;
	color: white;
	width: auto;
}
p
{
	font-family:"Verdana";
	font-size:80px;
	color:#00FF00;
	text-align: center;
}
#mainDiv {
	width: 70%;
	margin: 0 auto;
	margin-top: 100px;
}
#instruction {
	font-size:15px;
	font-style: italic;
	margin-top:5px;
}